<template>
  <div class="home">
    <app-select></app-select>
  </div>
</template>

<script>
import AppSelect from '@/components/base/app-select'

export default {
  name: 'Home',
  components: {
    AppSelect
  }
}
</script>
