<template>
  <div>
    <label for="list">list</label>
    <select name="select" id="list">
      <option value="1">option 1</option>
      <option value="2">option 2</option>
    </select>
  </div>
</template>
