<template>
  <div id="app">
    <component :is="layout">
      <transition name="fade" :duration="150" mode="out-in">
        <router-view/>
      </transition>
    </component>
  </div>
</template>

<script>
import BlankLayout from '@/layouts/blank'
import AuthorizedLayout from '@/layouts/authorized'

const defaultLayout = 'blank'

export default {
  components: {
    BlankLayout,
    AuthorizedLayout
  },

  computed: {
    layout () {
      return `${this.$route.meta.layout || defaultLayout}-layout`
    }
  }
}
</script>

<style lang="scss">
  html, body {
    margin: 0;
  }

  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    font-size: 14px;
  }
  // fade
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter,
  .fade-leave-to {
    opacity: 0;
  }
</style>
