<template>
  <div class="authorized-layout">
    <header
      class="authorized-layout__header"
    >
      Kirrit app
    </header>
    <main
      class="authorized-layout__body"
    >
      <slot></slot>
    </main>
    <footer
      class="authorized-layout__footer"
    >
      2020 (c)
    </footer>
  </div>
</template>

<style lang="scss">
  $header-height: 100;

  .authorized-layout {

    &__header {
      height: #{$header-height}px;
      background-color: #2c3e50;
      color: #fff8d6;
      font-size: 1.5rem;
      box-sizing: border-box;
      padding: 1rem;
      text-transform: uppercase;
      letter-spacing: 1.2px;
    }

    &__body {
      padding: 2rem;
    }

    &__footer {
      position: absolute;
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      padding: 1rem;
      left: 0;
      bottom: 0;
      text-align: center;
      background-color: #eaeaea;
    }
  }
</style>
